# Ignore Visual Studio and Rider specific files
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Ignore Rider-specific files
.idea/
*.iml
*.ipr
*.iws
out/
workspace.xml

# Ignore build artifacts
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Ignore dependency files
project.lock.json
project.assets.json
logs/
*.cache
*.vsconfig

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak
